body {
    background-color: rgb(241, 241, 241);
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
  }
header{
    display: flex;
    background-color:#007523;
    height: 100px;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    
}

a{
    color: black;

}
.logo{
    display: flex;
    justify-content: flex-start;
    height: 75px;
}

.top{
    display: flex;
    gap: 20px;
}
  
.nawi a{
    text-decoration: none;
    color: rgb(235, 235, 235);
}

.nawi {
    display: flex;
    list-style-type: none;
    gap: 40px;
    color: rgb(235, 235, 235);
    justify-content: space-between;
    font-size: 25px;
    
}

.poznaj{
    display:flex;
    justify-content: center;
    font-size: 45px;
}

.dlaciebie{
    display: flex;
    font-size: 25px;
    justify-content: center;
}

.plany{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding-right: 30px;

}
.plany a{
    text-decoration: none;
}


/* produkt */

.produkt {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 370px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 5px;
    height: 750px;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
.cena{
    color:grey;
    font-size:40px;
}
.produkt button{
    display: flex;
    justify-content: center;
    border: none;
    outline: 0;
    padding:20px;
    color:white;
    background-color: #007523;
    text-align: center;
    cursor:pointer;
    width:100%;
    font-size:18px;
}
.produkt button:hover {
    opacity: 0.7;
  }

/* produkt */

.productgrid{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-around;
    margin-right: 20px;
}
.opis{
    padding: 10px;
}
.rabat{
    max-height:100%;
    width:100%;
}

.przyciskdol{
    margin-bottom: 0;
}
.wiecejdiet{
    display: flex;
    margin-top: 0px;
    width: 600px;
    height: 70px;
    font-size: 40px;
    cursor: pointer;
    background-color: #007523;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    text-decoration: none;


}
.wiecejdietdiv{
    display: flex;
    justify-content: space-around;
    margin-bottom: 500px;
}
.wiecejdietdiv a:hover{
    opacity: 0.7;
}
.prodtitle{
    font-size: 30px;
    color: black;
    text-decoration: none;
    margin-top: 10px;
}
.title{
    font-size: 50px;
    text-decoration: none;
    color: rgb(235, 235, 235);
}
.poznajdiety{
    font-size: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}
.dopasowane{
    display: flex;
    font-size: 30px;
    justify-content: center;
    margin-top: 0;
}
.obrazekprodukt{
    margin: 10%;
}
.divprodukt{
    display: flex;
    justify-content: space-between;
    margin-right: 20%;
    margin-left: 10%;
}    
.tytulprodukt{
    margin-right: 20px;
}
.opisprodukt{
    width: 400px;
}
.divdivprodukt{
    margin-top: 10%;
}
.kupteraz{
    font-size: 50px;
    text-decoration: none;
    background-color: #007523;
    color: white;
    width: 300px;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
   
}
.kupteraz a:hover{
    opacity: 0.7;
}