body {
    background-color: rgb(241, 241, 241);
    font-family: 'Ubuntu', sans-serif;
    margin: 20px;
  }
header{
    display: flex;
    background-color: rgb(241, 241, 241);
    height: 100px;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
}

a{
    color: black;

}
.logo{
    display: flex;
    justify-content: flex-start;
    height: 75px;
}

.top{
    display: flex;
    gap: 20px;
}
  
.nawi a{
    text-decoration: none;
}

.nawi {
    display: flex;
    list-style-type: none;
    gap: 40px;
    color: black;
    justify-content: space-between;
    font-size: 25px;
    
}

.rajpar {
    max-height:100%;
    width:100%;
    
}

.poznaj{
    display:flex;
    justify-content: center;
    font-size: 45px;
}

.dlaciebie{
    display: flex;
    font-size: 25px;
    justify-content: center;
}

.plany{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding-right: 30px;

}
.plany a{
    text-decoration: none;
}


/* produkt */

.produkt {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 20px;
  }
  
.cena{
    color:grey;
    font-size:22px;
}
.produkt button{
    border: none;
    outline: 0;
    padding:20px;
    color:white;
    background-color: #000;
    text-align: center;
    cursor:pointer;
    width:100%;
    font-size:18px;
}
.produkt button:hover {
    opacity: 0.7;
  }

/* produkt */

.productgrid{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}